---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import JavaScript from "./icons/JavaScript.astro";
import CSS from "./icons/CSS.astro";
import Html from "./icons/Html.astro";
import PHP from "./icons/PHP.astro";
import MySQL from "./icons/MySQL.astro";
import Vue from "./icons/Vue.astro";
import PostgreSql from "./icons/PostgreSql.astro";
import Vite from "./icons/Vite.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import Gsap from "./icons/Gsap.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-yellow-200 text-yellow-950",
    icon: JavaScript,
  },
  HTML: {
    name: "HTML",
    class: "bg-red-900 text-white",
    icon: Html,
  },
  CSS: {
    name: "CSS",
    class: "bg-blue-500 text-white",
    icon: CSS,
  },
  PHP: {
    name: "PHP",
    class: "bg-purple-700 text-white",
    icon: PHP,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-blue-500 text-white",
    icon: MySQL,
  },
  VUE: {
    name: "Vue.js",
    class: "bg-green-800 text-white",
    icon: Vue,
  },
  VITE: {
    name: "Vite",
    class: "bg-black text-white",
    icon: Vite,
  },
  POSTGRESQL: {
    name: "PostgreSQL",
    class: "bg-blue-700 text-white",
    icon: PostgreSql,
  },
  ASTROICON: {
    name: "Astro",
    class: "bg-black text-white",
    icon: AstroIcon,
  },
  GSAP: {
    name: "GSAP",
    class: "bg-green-700 text-white",
    icon: Gsap,
  },
};
const PROJECTS = [
  {
    title: "Shorikame Cards – Tienda en línea de TCG y coleccionables",
    description:
      "Diseñé y desarrollé una plataforma e-commerce enfocada en la venta de cartas coleccionables y accesorios. El proyecto incluyó la implementación de un catálogo dinámico, un panel de administración para productos, promociones, banners, usuarios y ventas. Se implementaron pasarelas de pago seguras.",
    link: "https://shorikamecards.com/",
    github: "",
    image: "/projects/shorikamecards.webp",
    tags: [
      TAGS.VUE,
      TAGS.TAILWIND,
      TAGS.JAVASCRIPT,
      TAGS.VITE,
      TAGS.POSTGRESQL,
    ],
  },
  {
    title: "DevWebCamp - Eventos de desarrolladores",
    description:
      "Pagina web para eventos de desarrolladores. Creada con JavaScript, HTML, CSS, PHP, MySQL y Node.js. Este proyecto fue parte del curso de Juan Pablo de la Torre.",
    link: "https://devwebcamp-phpmvc-emanuel.mnz.dom.my.id/",
    github: "https://github.com/EmanuelJimenezSanchez/DevWebCamp.git",
    image: "/projects/devwebcamp.webp",
    tags: [TAGS.JAVASCRIPT, TAGS.HTML, TAGS.CSS, TAGS.PHP, TAGS.MYSQL],
  },
  // {
  //   title: "Administrador de Clientes - Aplicación web para CRM",
  //   description:
  //     "Aplicación web para administrar clientes. Creada con Vue.js, Tailwind CSS y Vite. Se implementó Firestore y Vuefire para el almacenamiento de los datos.",
  //   link: "https://crm-vue-rouge.vercel.app/",
  //   github: "https://github.com/EmanuelJimenezSanchez/crm-vue.git",
  //   image: "/projects/crm-vue.webp",
  //   tags: [TAGS.VUE, TAGS.TAILWIND, TAGS.JAVASCRIPT, TAGS.VITE],
  // },
  {
    title: "UpTask - Administrador de Proyectos",
    description:
      "Administrador de proyectos. Creado con JavaScript, HTML, CSS, PHP y MySQL. Se usó una arquitectura MVC y se implementarón buenas prácticas de programación.Este proyecto fue parte del curso de Juan Pablo de la Torre.",
    link: "https://uptask-emanuel-jimenez.mnz.dom.my.id/",
    github: "https://github.com/EmanuelJimenezSanchez/UpTask.git",
    image: "/projects/uptask.webp",
    tags: [TAGS.JAVASCRIPT, TAGS.HTML, TAGS.CSS, TAGS.PHP, TAGS.MYSQL],
  },
  {
    title: "Landing Page - GTA VI",
    description:
      "Clon de la landing page de GTA VI para practicar las animaciones con GSAP.",
    link: "https://web-gta6.vercel.app/",
    github: "https://github.com/EmanuelJimenezSanchez/web-gta6.git",
    image: "/projects/gta-6.webp",
    tags: [TAGS.GSAP, TAGS.ASTROICON, TAGS.JAVASCRIPT, TAGS.HTML, TAGS.CSS],
  },
  // {
  //   title: "AppSalon - Registro de citas para salón de belleza",
  //   description:
  //     "Aplicación web para el registro de citas en un salón de belleza. Creada con JavaScript, HTML, CSS, PHP y MySQL. Se usó una arquitectura MVC y se implementarón buenas prácticas de programación.",
  //   link: "https://appsalon-emanuel.domcloud.dev/cita",
  //   github: "https://github.com/EmanuelJimenezSanchez/APPSalon_MVC_PHP.git",
  //   image: "/projects/appsalon.webp",
  //   tags: [TAGS.JAVASCRIPT, TAGS.HTML, TAGS.CSS, TAGS.PHP, TAGS.MYSQL],
  // },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2 flex-wrap gap-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
